<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>{% block titulo %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="utf-8" />
    {% block head%} {% endblock%}
  </head>
  <body class="bg-black text-gray-100 font-primary">
    {% include "navbar.html" %} 
    {% block content %}{% endblock %}
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
